body {
    font-family: 'Roboto', sans-serif;
    color: #163152;
}

a {
    text-decoration: none;
    color: #163152;
}

h1 {
    font-size: 44px;
    font-style: italic;
    font-weight: 400;
    line-height: 60px;
}

.date {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}


main h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #00c6bd;
    text-underline-offset: 15px;
    text-underline-position: under;
}

.promo-descr {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}



li address,
li a {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.main-footer p {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
}

.footer-title {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

.footer-navigathion-item a {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

figcaption {
    color: #8693A4;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.news h3 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

.news-descr {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.participants {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

.participants-item {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

blockquote {
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    border-left: 2px solid #00c6bd;
}

.author-news {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
}

.time-news {
    color: #8693A4;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}